# Deno files
deno.lock
/.idea/
/node_modules
.env
*.orig
*.pyc
*.swp
gicore

# Pup files
test.json
test.jsonc
*.log
*.pid
*.status
.*-data
.*-tmp
test.sh
.pup

# Pup test files
test_data_*.*
status.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore all local history of files
.history
.ionide

# Ignore files named core, but not folders named core
core
!core/

# Test coverage
cov_profile
*.lcov
coverage

# Lumocs generated site
_site

# Node/npm files
package-lock.json
node_modules
.npmrc
package.json
*.tgz

# Bun files
.bun.lockb

# VSCode files
.vscode