# Deno files
deno.lock
/.idea/
/.vscode/
/node_modules
.env
*.orig
*.pyc
*.swp

# Pup files
test.json
test.jsonc
*.log
*.pid
*.status

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore all local history of files
.history
.ionide